fake-news-detector.json
{
  "name": "fake-news-detector",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio.mp3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -976,
        11264
      ],
      "id": "9cb19a7c-e4b0-4bc5-b665-14d7788105f5",
      "name": "Transcribe a recording2",
      "credentials": {
        "openAiApi": {
          "id": "ImnF3PwGUmxxe5vb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "audio.mp3",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1856,
        11264
      ],
      "id": "107d7102-6323-4e97-82c9-73a30c6e78a9",
      "name": "Convert to File6"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2256,
        11264
      ],
      "id": "8110d65c-ba26-443a-a275-03e4c235c1dd",
      "name": "Obter m dia em base65",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3163e93-ba13-4ed6-9af5-c5715f3e93d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isAudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389ae815-4779-4f00-8671-7ae235e1c2aa",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05bf052d-e5aa-4b19-8368-09737e639190",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isImage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82c27c18-e74a-46bf-aa3b-eae0264e60ab",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isSticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "521cec87-03b0-4c76-be19-59bfdf99abe5",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "=videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isVideo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032f76a9-d173-448c-8968-0cd60529be70",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isDocument"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3056,
        12000
      ],
      "id": "041c7a50-6711-485d-8247-e3e5c1940b79",
      "name": "Switch6"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -272,
        11552
      ],
      "id": "9fc777c0-6e7c-4fd0-b3c5-756a89ab4035",
      "name": "Enviar texto19",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('HTTP Request13').item.json.responseWithoutLinks}}",
        "voice": "onyx",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        11264
      ],
      "id": "cbac322b-b5cb-4bc0-80e1-c91b6934dd1d",
      "name": "Generate audio2",
      "credentials": {
        "openAiApi": {
          "id": "ImnF3PwGUmxxe5vb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        944,
        11264
      ],
      "id": "d19c6f69-e70a-43de-b551-1aa73976ab9e",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1200,
        11264
      ],
      "id": "cde6f1a9-2ee8-4d9f-86fd-026fefe686aa",
      "name": "Enviar audio2",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "imagem",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1856,
        11872
      ],
      "id": "6e1387e8-697d-4008-bca1-bf46c8c2b87d",
      "name": "Convert to File7"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3280,
        12064
      ],
      "id": "a63d8ce4-46ff-47b8-8164-1d3c13878acc",
      "name": "Marcar mensagens como lidas2",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar documentos, você pode enviar um texto, um áudio, uma imagem ou um vídeo para eu analisar.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        12352
      ],
      "id": "e551eba8-a07b-4779-a988-175bbe70a2b9",
      "name": "Enviar texto27",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $('Pegar dados').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        11552
      ],
      "id": "12356e8e-bc2b-4fa5-830e-2e308236515d",
      "name": "Pega Mensagem7"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o áudio para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        11264
      ],
      "id": "aa6e21af-227a-425e-8d0f-e3b86a2828bb",
      "name": "Enviar texto28",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a mensagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        11552
      ],
      "id": "74f8a502-9726-4665-bfa9-32f0d70d2e87",
      "name": "Enviar texto29",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a imagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        11872
      ],
      "id": "78141815-16cd-4ebf-8c05-9ca8e61ed502",
      "name": "Enviar texto30",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($json.mensagem.replace(/\\n/g, ' ')); }},\n      \"type\": \"text\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        11552
      ],
      "id": "aaf3a51c-7ff6-4861-8692-5688cbc0ef00",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($json.text.replace(/\\n/g, ' ')); }},\n      \"type\": \"audio\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        11264
      ],
      "id": "7d579cf9-5695-4244-a0de-d7e4f2b673e1",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2256,
        12112
      ],
      "id": "6c0ce3e3-136b-4fbc-a92f-faaa85899942",
      "name": "Obter m dia em base4",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o vídeo para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        12112
      ],
      "id": "9e2ecbdf-b635-4547-80ad-01b4e1abc4d7",
      "name": "Enviar texto33",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "=video.mp4",
        "options": {
          "mimeType": "video/mp4"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1648,
        12112
      ],
      "id": "c217001c-8d03-4e85-83cf-23f5370839a6",
      "name": "Convert to File8"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -400,
        11264
      ],
      "id": "a84d490a-a760-4ef0-ac7e-176c53bfa966",
      "name": "Enviar texto36",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "🗣️🎤 Estou gravando o aúdio da resposta...",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -112,
        11264
      ],
      "id": "440ad7cd-d76a-495d-9d28-d2ef776c177d",
      "name": "Enviar texto37",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2256,
        11872
      ],
      "id": "568633d3-c62d-4d5a-944b-a76b8d4cc042",
      "name": "Obter m dia em base5",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "audio.mp3",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1840,
        13008
      ],
      "id": "c5a40175-f543-4eed-94e5-578a02e853bb",
      "name": "Convert to File9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.audioMessage }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d3163e93-ba13-4ed6-9af5-c5715f3e93d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isAudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389ae815-4779-4f00-8671-7ae235e1c2aa",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.conversation }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05bf052d-e5aa-4b19-8368-09737e639190",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.imageMessage }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isImage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b84e8315-f53c-4d0d-9a45-ef1a8dc200e2",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.stickerMessage }}",
                    "rightValue": "isSticker",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isSticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "521cec87-03b0-4c76-be19-59bfdf99abe5",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.videoMessage }}",
                    "rightValue": "=videoMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isVideo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032f76a9-d173-448c-8968-0cd60529be70",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.documentMessage }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isDocument"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3056,
        13744
      ],
      "id": "54bd5694-7502-4808-a6f9-25a516ae3ce8",
      "name": "Switch9"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base64",
        "binaryPropertyName": "imagem",
        "options": {
          "mimeType": "=image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1840,
        13616
      ],
      "id": "4384f0da-86fe-4436-a2f3-fe3b80e4336d",
      "name": "Convert to File10"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3280,
        13808
      ],
      "id": "c55dce69-afaf-4eb7-9c9b-cbd84e6c25ff",
      "name": "Marcar mensagens como lidas3",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        13296
      ],
      "id": "0186574b-3280-4f37-9e12-2ec4cd369391",
      "name": "Pega Mensagem10"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o áudio para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        13008
      ],
      "id": "75b41b5b-0f11-4eab-a9c1-79052a63b0d9",
      "name": "Enviar texto41",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a mensagem para verificar se é uma fake news ou não.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        13296
      ],
      "id": "6c990b72-0698-4074-9361-0845f0113f5c",
      "name": "Enviar texto42",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a imagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        13616
      ],
      "id": "72591d81-afd6-4d3a-869f-4ee5fbcadb46",
      "name": "Enviar texto43",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o vídeo para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        13856
      ],
      "id": "0d3dadb4-4b46-4e0a-9def-d5e4a6390d18",
      "name": "Enviar texto45",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=video.mp4",
        "options": {
          "mimeType": "video/mp4"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1840,
        13856
      ],
      "id": "9990a786-f76d-48ab-9815-72845d1d719b",
      "name": "Convert to File11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        13008
      ],
      "id": "fddd9bc9-45f2-4d5e-aefe-822f7527b966",
      "name": "HTTP Request25"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d872833f-0a92-402d-b8f6-0aef11777311",
              "name": "endpointAPI",
              "value": "https://ta-certo-isso-ai-767652480333.southamerica-east1.run.app",
              "type": "string"
            },
            {
              "id": "a2684c19-ecf8-4336-905d-385aee7c06eb",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "86d6cd66-4fbf-44c5-ac05-d3addccf7ae0",
              "name": "numeroQuemEnviou",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "73698167-d83a-4434-b384-895f85e418cd",
              "name": "nomeQuemEnviou",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "4a7a4195-0a75-49f5-9794-140e969b5cdd",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b45b3ee8-1da5-4420-837e-319744ce52f7",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "b8631fe4-6675-4c29-b5c0-85d12442beb1",
              "name": "stanzaId",
              "value": "={{ $json.body.data.contextInfo.stanzaId }}",
              "type": "string"
            },
            {
              "id": "c1b18a69-06bc-4f6c-bc49-32af19de6026",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c434eeaf-2f5e-4d3f-9db0-0e78205fdd12",
              "name": "chaveAPI",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5232,
        12016
      ],
      "id": "67c9e655-e02b-4df8-ad85-573e9273a717",
      "name": "Pegar dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        13616
      ],
      "id": "33cc4b5f-3d9d-4474-ba54-91efedfc355b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        13856
      ],
      "id": "77c7b990-8559-4697-8205-33a0992327e7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "messages-upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5520,
        12016
      ],
      "id": "05608d99-aa1e-4a4f-83f3-6336d31b0453",
      "name": "Mensagem recebida",
      "webhookId": "10b70ed5-60f9-400b-8889-859e1cba95e3"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Você receberá um vídeo enviado pelo usuário. Sua tarefa é:\n\n- Analisar cuidadosamente todas as cenas do vídeo, frame a frame.\n- Descrever detalhadamente tudo o que aparece: pessoas, objetos, ações, ambiente, iluminação, cores, expressões, movimentos, mudanças de cena e qualquer elemento visual relevante.\n- Transcrever todo o áudio do vídeo, incluindo falas, ruídos, música, textos narrados e sons de fundo.\n- Escrever todos os textos que aparecerem na tela, como legendas, placas, banners, telas de computador, mensagens, símbolos ou números.\n- Indicar, sempre que possível, os momentos aproximados (timestamps) onde cada evento ocorre.\n- Caso ocorram várias cenas, descrevê-las em ordem cronológica.\n\nRetorne no seguinte formato:\n\nDescrição completa do vídeo:\n[sua descrição detalhada aqui]",
        "inputType": "binary",
        "binaryPropertyName": "video.mp4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        12496
      ],
      "id": "beecdb3c-4bd3-4b15-b554-b55e1078cf04",
      "name": "Analyze video2",
      "credentials": {
        "googlePalmApi": {
          "id": "SgK1zaj53sL9cHk6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.description); }},\n      \"type\": \"video\"\n    },\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.caption); }},\n      \"type\": \"text\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        12768
      ],
      "id": "d4f9a277-7de3-4b7a-9375-80e9813a0aa8",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1328,
        12768
      ],
      "id": "5499b164-abc4-4e45-97b1-2542d9b27348",
      "name": "Enviar texto35",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.description); }},\n      \"type\": \"video\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        12480
      ],
      "id": "2fbd9971-6c6e-4e3b-a434-f18ff50b8270",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1328,
        12480
      ],
      "id": "ca15126c-3867-4312-8852-ee51e04dcdd2",
      "name": "Enviar texto34",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados da imagem').item.json.description); }},\n      \"type\": \"image\"\n    },\n    {\n      \"textContent\": {{ JSON.stringify($('Dados da imagem').item.json.caption); }},\n      \"type\": \"text\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        12160
      ],
      "id": "451f56eb-1322-4f4b-ad6c-e6811f765636",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        12160
      ],
      "id": "8cb2b3bc-e848-4ecf-a56c-cc6219da0158",
      "name": "Enviar texto32",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        11872
      ],
      "id": "21768179-2376-4e81-84b7-e179629f212f",
      "name": "Enviar texto26",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar documentos, você pode enviar um texto, um áudio, uma imagem ou um vídeo para eu analisar.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2656,
        14096
      ],
      "id": "2260802c-82ce-46ab-84d8-d8e9569308a6",
      "name": "Enviar texto40",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b76dd329-670b-4071-a1e2-2091936ba176",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        11888
      ],
      "id": "69cf4519-ea1e-43c7-a4d9-fa4a99f42b6f",
      "name": "imagem tem legenda"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b76dd329-670b-4071-a1e2-2091936ba176",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        12496
      ],
      "id": "6f3c16ec-f7ea-4278-baa1-0c4a7809bd6e",
      "name": "video tem legenda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ae3e2d8-4b9e-4819-9d65-cfd11def0842",
              "name": "caption",
              "value": "={{\n  $if(\n    $('Mensagem recebida').item.json.body.data.key.remoteJid.endsWith('@s.whatsapp.net'),\n    (\n      $('Mensagem recebida').item.json.body.data.message?.imageMessage?.caption \n      ?? \n      \"\"\n    ),\n    (\n      $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage?.imageMessage?.caption \n      ?? \n      \"\"\n    )\n  )\n}}",
              "type": "string"
            },
            {
              "id": "9df9dbfe-334a-4232-b88d-9fd2523614a9",
              "name": "description",
              "value": "={{ $json.content }}\n\nInformações de pesquisa reversa da imagem em sites da web: \n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        11888
      ],
      "id": "ebe4bba8-f779-4c56-aeea-e5c1ea9e3ca1",
      "name": "Dados da imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8962be6f-3011-4f60-89a6-ab5171e862c7",
              "name": "description",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "8ae3e2d8-4b9e-4819-9d65-cfd11def0842",
              "name": "caption",
              "value": "={{\n  $if(\n    $('Mensagem recebida').item.json.body.data.key.remoteJid.endsWith('@s.whatsapp.net'),\n    (\n      $('Mensagem recebida').item.json.body.data.message?.videoMessage?.caption \n      ?? \n      \"\"\n    ),\n    (\n      $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage?.videoMessage?.caption \n      ?? \n      \"\"\n    )\n  )\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        12496
      ],
      "id": "698794b8-b3ac-4509-b4b5-ae56ebe1bfc7",
      "name": "Dados do vídeo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea95191-0e78-432f-8134-ffbf2b2d6014",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.mentionedJid }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "75e66cf0-8418-433c-aba9-766d06e9e9bd",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.mentionedJid }}",
              "rightValue": "117558187450509@lid",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        12336
      ],
      "id": "4629be5c-7fa5-4ac2-ba0a-bb223b88dd13",
      "name": "isMentionOfTheBot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efd4d22b-f089-4dbd-8c09-1b8755f1b328",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3792,
        12688
      ],
      "id": "69c496c0-a47a-43a6-8d21-e3ed74cb8842",
      "name": "isResponseToMessage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VKNa3gWsRf9NZLzy",
          "mode": "list",
          "cachedResultUrl": "/workflow/VKNa3gWsRf9NZLzy",
          "cachedResultName": "digitando"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        10480
      ],
      "id": "b531a5bf-beb3-49b5-8d55-dc47b2baceff",
      "name": "Call 'digitanado'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "315034ac-1a26-46a3-b09f-174b5e798aa6",
              "name": "instancia",
              "value": "={{ $('Pegar dados').item.json.instancia }}",
              "type": "string"
            },
            {
              "id": "01e8aa44-391e-485d-9a37-5cc8da335c47",
              "name": "numeroQuemEnviou",
              "value": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        10480
      ],
      "id": "0ce05e05-1e69-44c4-9389-9befc31ef303",
      "name": "Dados para sub-workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EzbRZCst1inojcez",
          "mode": "list",
          "cachedResultUrl": "/workflow/EzbRZCst1inojcez",
          "cachedResultName": "gravando"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        10720
      ],
      "id": "9f3c2813-c0ce-46e3-88b5-ee1c8e41a213",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "315034ac-1a26-46a3-b09f-174b5e798aa6",
              "name": "instancia",
              "value": "={{ $('Pegar dados').item.json.instancia }}",
              "type": "string"
            },
            {
              "id": "01e8aa44-391e-485d-9a37-5cc8da335c47",
              "name": "numeroQuemEnviou",
              "value": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        10720
      ],
      "id": "45cd7571-63d3-4ab3-9b5a-65666f7cbe57",
      "name": "Dados para sub-workflow1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b00bcaf3-ee02-4846-945f-9e8ace32b989",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4944,
        12016
      ],
      "id": "ffca5ab6-d1a7-47bc-a8a1-e376088b8703",
      "name": "isOnGroup"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JpxOxZxyrCz0h6kZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/JpxOxZxyrCz0h6kZ",
          "cachedResultName": "reverse-search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        12064
      ],
      "id": "bf550f37-631a-4fd8-bdb2-e0609aab6c57",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        11888
      ],
      "id": "f47d756d-386a-4dee-8380-3e98c8ba9663",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados da imagem').item.json.description); }},\n      \"type\": \"image\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        11872
      ],
      "id": "d6a73499-2fbc-450e-a06c-78797027c545",
      "name": "HTTP Request23",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4k4ZI8mYz95f2hnq",
          "mode": "list",
          "cachedResultUrl": "/workflow/4k4ZI8mYz95f2hnq",
          "cachedResultName": "analyze-image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        11872
      ],
      "id": "b923e02f-2b27-4b71-a020-a0525fe62f77",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e396159-7d96-4c45-9f1e-8f19b292f861",
              "leftValue": "={{ $json.duration }}",
              "rightValue": 120,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        12256
      ],
      "id": "450a1dfd-6fa2-40ae-8932-824d82326e37",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Para que eu possa analizar o conteúdo do vídeo, ele precisa ter uma duração máxima de 2 minutos.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -16,
        12720
      ],
      "id": "d3772acb-3fd8-452d-b658-4cc06a3bfbb0",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getMp4DurationFromBase64(base64) {\n    const buffer = Buffer.from(base64, \"base64\");\n\n    let offset = 0;\n\n    while (offset < buffer.length) {\n        const size = buffer.readUInt32BE(offset);\n        const type = buffer.toString(\"ascii\", offset + 4, offset + 8);\n\n        // Procurar o box 'moov'\n        if (type === \"moov\") {\n            let moovOffset = offset + 8;\n            const moovEnd = offset + size;\n\n            while (moovOffset < moovEnd) {\n                const boxSize = buffer.readUInt32BE(moovOffset);\n                const boxType = buffer.toString(\"ascii\", moovOffset + 4, moovOffset + 8);\n\n                // Procurar 'mvhd'\n                if (boxType === \"mvhd\") {\n                    const version = buffer[moovOffset + 8];\n\n                    let timescale, duration;\n\n                    if (version === 0) {\n                        timescale = buffer.readUInt32BE(moovOffset + 20);\n                        duration = buffer.readUInt32BE(moovOffset + 24);\n                    } else {\n                        timescale = buffer.readUInt32BE(moovOffset + 28);\n                        duration = Number(buffer.readBigUInt64BE(moovOffset + 32));\n                    }\n\n                    return Number(duration) / timescale;\n                }\n\n                moovOffset += boxSize;\n            }\n        }\n\n        offset += size;\n    }\n\n    throw new Error(\"mvhd not found in MP4\");\n}\n\n//\n// PEGAR O BASE64 DO PRIMEIRO ITEM\n//\nconst input = $input.first();\nconst base64 = input.json.data?.base64 || input.json.base64;\n\nconst duration = getMp4DurationFromBase64(base64);\n\nreturn [\n    {\n        json: { duration }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        12320
      ],
      "id": "162fedf5-23d8-417e-a8a0-be9402d63654",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        12256
      ],
      "id": "2d7980ed-e0d9-4ce4-aa13-c2c3814eee52",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5b1f96f-11b4-40c2-abe3-dfec04827442",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "tacertoissoai.com.br/termos-e-privacidade",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4320,
        12032
      ],
      "id": "8acba054-318e-46fe-8d23-0f125fe8bda7",
      "name": "se é mensagem inicial do bot"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -4032,
        11648
      ],
      "id": "a1d92bed-7dc5-443f-9125-1bb42996b563",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const mensagem = item.json.mensagem || \"\";\n\n  const normalizada = mensagem\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .trim();\n\n  const saudacoes = [\n    \"oi\",\n    \"ola\",\n    \"eai\",\n    \"iae\",\n    \"iai\",\n    \"fala\",\n    \"fala ai\",\n    \"fala ae\",\n    \"bom dia\",\n    \"boa tarde\",\n    \"boa noite\",\n    \"opa\",\n    \"salve\",\n    \"alo\",\n    \"oii\",\n    \"oiii\",\n    \"ola tudo bem\",\n    \"oi tudo bem\",\n    \"bom dia tudo bem\",\n    \"boa tarde tudo bem\",\n    \"boa noite tudo bem\"\n  ];\n\n  item.json.ehSaudacao = saudacoes.includes(normalizada);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4048,
        12048
      ],
      "id": "682d9fd1-4ac4-47cb-960e-4f74f20bc05d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "380da424-df6a-4dcb-b83b-2a6c67a31f8f",
              "leftValue": "={{ $json.ehSaudacao }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3808,
        12048
      ],
      "id": "c9661e97-5f92-40d6-af41-9b6dfb68548f",
      "name": "se é saudação"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Olá! 👋\nObrigado por usar nossa ferramenta de verificação de informações.\nAntes de começarmos, informamos que ao continuar você concorda com nossos *Termos e Condições* e *Política de Privacidade*:\ntacertoissoai.com.br/termos-e-privacidade\n\nÉ só enviar a mensagem, imagem, vídeo, link ou áudio que você quer verificar. 😊\n\nSaiba mais na nossa plataforma online:\nhttps://tacertoissoai.com.br",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3344,
        11664
      ],
      "id": "1fecb397-cbc4-4678-a5d9-f88b39f8da33",
      "name": "Enviar texto38",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3536,
        11664
      ],
      "id": "af152cf5-9e5e-48ac-aa9c-545e9016c661",
      "name": "Marcar mensagens como lidas1",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe a recording2": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados para sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File6": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base65": {
      "main": [
        [
          {
            "node": "Convert to File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Enviar texto28",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto29",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto33",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Enviar audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File7": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas2": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem7": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados para sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto28": {
      "main": [
        [
          {
            "node": "Obter m dia em base65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto29": {
      "main": [
        [
          {
            "node": "Pega Mensagem7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto30": {
      "main": [
        [
          {
            "node": "Obter m dia em base5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Enviar texto19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Enviar texto36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto33": {
      "main": [
        [
          {
            "node": "Obter m dia em base4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File8": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto36": {
      "main": [
        [
          {
            "node": "Enviar texto37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto37": {
      "main": [
        [
          {
            "node": "Dados para sub-workflow1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base5": {
      "main": [
        [
          {
            "node": "Convert to File7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File9": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "Enviar texto41",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto42",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto43",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto43",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto45",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File10": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas3": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem10": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados para sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto41": {
      "main": [
        [
          {
            "node": "HTTP Request25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto42": {
      "main": [
        [
          {
            "node": "Pega Mensagem10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto43": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto45": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File11": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request25": {
      "main": [
        [
          {
            "node": "Convert to File9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar dados": {
      "main": [
        [
          {
            "node": "isOnGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Pegar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video2": {
      "main": [
        [
          {
            "node": "Dados do vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Enviar texto35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Enviar texto34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Enviar texto32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagem tem legenda": {
      "main": [
        [
          {
            "node": "HTTP Request23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video tem legenda": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da imagem": {
      "main": [
        [
          {
            "node": "imagem tem legenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados para sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do vídeo": {
      "main": [
        [
          {
            "node": "video tem legenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados para sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isMentionOfTheBot": {
      "main": [
        [
          {
            "node": "isResponseToMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isResponseToMessage": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar mensagens como lidas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto19": {
      "main": [
        []
      ]
    },
    "Call 'digitanado'": {
      "main": [
        []
      ]
    },
    "Dados para sub-workflow": {
      "main": [
        [
          {
            "node": "Call 'digitanado'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "Dados para sub-workflow1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto26": {
      "main": [
        []
      ]
    },
    "Enviar texto32": {
      "main": [
        []
      ]
    },
    "Enviar texto34": {
      "main": [
        []
      ]
    },
    "Enviar texto35": {
      "main": [
        []
      ]
    },
    "Enviar audio2": {
      "main": [
        []
      ]
    },
    "isOnGroup": {
      "main": [
        [
          {
            "node": "isMentionOfTheBot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "se é mensagem inicial do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dados da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request23": {
      "main": [
        [
          {
            "node": "Enviar texto26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyze video2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se é mensagem inicial do bot": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "se é saudação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se é saudação": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar mensagens como lidas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas1": {
      "main": [
        [
          {
            "node": "Enviar texto38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c701f20-a61a-44f1-bd1b-fcb5fe0c6a2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66003f19454addf7e955bb54c53f18bcbbdbda71fc5e07836f0a61d5116098f0"
  },
  "id": "mVjpjMQoUzYN2dvL",
  "tags": []
}