n8n.json
{
  "name": "fake-news-detector",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio.mp3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1392,
        11264
      ],
      "id": "9cb19a7c-e4b0-4bc5-b665-14d7788105f5",
      "name": "Transcribe a recording2",
      "credentials": {
        "openAiApi": {
          "id": "ImnF3PwGUmxxe5vb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "audio.mp3",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2272,
        11264
      ],
      "id": "107d7102-6323-4e97-82c9-73a30c6e78a9",
      "name": "Convert to File6"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2672,
        11264
      ],
      "id": "8110d65c-ba26-443a-a275-03e4c235c1dd",
      "name": "Obter m dia em base65",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3163e93-ba13-4ed6-9af5-c5715f3e93d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isAudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389ae815-4779-4f00-8671-7ae235e1c2aa",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05bf052d-e5aa-4b19-8368-09737e639190",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isImage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82c27c18-e74a-46bf-aa3b-eae0264e60ab",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isSticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "521cec87-03b0-4c76-be19-59bfdf99abe5",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "=videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isVideo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032f76a9-d173-448c-8968-0cd60529be70",
                    "leftValue": "={{ $('Pegar dados').item.json.tipoMensagem }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isDocument"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3472,
        12000
      ],
      "id": "041c7a50-6711-485d-8247-e3e5c1940b79",
      "name": "Switch6"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1104,
        11552
      ],
      "id": "9fc777c0-6e7c-4fd0-b3c5-756a89ab4035",
      "name": "Enviar texto19",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('HTTP Request13').item.json.responseWithoutLinks}}",
        "voice": "onyx",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        11264
      ],
      "id": "cbac322b-b5cb-4bc0-80e1-c91b6934dd1d",
      "name": "Generate audio2",
      "credentials": {
        "openAiApi": {
          "id": "ImnF3PwGUmxxe5vb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        16,
        11264
      ],
      "id": "d19c6f69-e70a-43de-b551-1aa73976ab9e",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        272,
        11264
      ],
      "id": "cde6f1a9-2ee8-4d9f-86fd-026fefe686aa",
      "name": "Enviar audio2",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "imagem",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2272,
        11872
      ],
      "id": "6e1387e8-697d-4008-bca1-bf46c8c2b87d",
      "name": "Convert to File7"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3696,
        12064
      ],
      "id": "a63d8ce4-46ff-47b8-8164-1d3c13878acc",
      "name": "Marcar mensagens como lidas2",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar documentos, você pode enviar um texto, um áudio, uma imagem ou um vídeo para eu analisar.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        12352
      ],
      "id": "e551eba8-a07b-4779-a988-175bbe70a2b9",
      "name": "Enviar texto27",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $('Pegar dados').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        11552
      ],
      "id": "12356e8e-bc2b-4fa5-830e-2e308236515d",
      "name": "Pega Mensagem7"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o áudio para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        11264
      ],
      "id": "aa6e21af-227a-425e-8d0f-e3b86a2828bb",
      "name": "Enviar texto28",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a mensagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        11552
      ],
      "id": "74f8a502-9726-4665-bfa9-32f0d70d2e87",
      "name": "Enviar texto29",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a imagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        11872
      ],
      "id": "78141815-16cd-4ebf-8c05-9ca8e61ed502",
      "name": "Enviar texto30",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($json.mensagem.replace(/\\n/g, ' ')); }},\n      \"type\": \"text\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        11552
      ],
      "id": "aaf3a51c-7ff6-4861-8692-5688cbc0ef00",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($json.text.replace(/\\n/g, ' ')); }},\n      \"type\": \"audio\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        11264
      ],
      "id": "7d579cf9-5695-4244-a0de-d7e4f2b673e1",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2672,
        12112
      ],
      "id": "6c0ce3e3-136b-4fbc-a92f-faaa85899942",
      "name": "Obter m dia em base4",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o vídeo para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        12112
      ],
      "id": "9e2ecbdf-b635-4547-80ad-01b4e1abc4d7",
      "name": "Enviar texto33",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "=video.mp4",
        "options": {
          "mimeType": "video/mp4"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2272,
        12112
      ],
      "id": "c217001c-8d03-4e85-83cf-23f5370839a6",
      "name": "Convert to File8"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -816,
        11264
      ],
      "id": "a84d490a-a760-4ef0-ac7e-176c53bfa966",
      "name": "Enviar texto36",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "🗣️🎤 Estou gravando o aúdio da resposta...",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -528,
        11264
      ],
      "id": "440ad7cd-d76a-495d-9d28-d2ef776c177d",
      "name": "Enviar texto37",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2672,
        11872
      ],
      "id": "568633d3-c62d-4d5a-944b-a76b8d4cc042",
      "name": "Obter m dia em base5",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "audio.mp3",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2256,
        13008
      ],
      "id": "c5a40175-f543-4eed-94e5-578a02e853bb",
      "name": "Convert to File9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.audioMessage }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d3163e93-ba13-4ed6-9af5-c5715f3e93d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isAudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389ae815-4779-4f00-8671-7ae235e1c2aa",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.conversation }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05bf052d-e5aa-4b19-8368-09737e639190",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.imageMessage }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isImage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b84e8315-f53c-4d0d-9a45-ef1a8dc200e2",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.stickerMessage }}",
                    "rightValue": "isSticker",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isSticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "521cec87-03b0-4c76-be19-59bfdf99abe5",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.videoMessage }}",
                    "rightValue": "=videoMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isVideo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032f76a9-d173-448c-8968-0cd60529be70",
                    "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.documentMessage }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isDocument"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3472,
        13744
      ],
      "id": "54bd5694-7502-4808-a6f9-25a516ae3ce8",
      "name": "Switch9"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base64",
        "binaryPropertyName": "imagem",
        "options": {
          "mimeType": "=image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2256,
        13616
      ],
      "id": "4384f0da-86fe-4436-a2f3-fe3b80e4336d",
      "name": "Convert to File10"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3696,
        13808
      ],
      "id": "c55dce69-afaf-4eb7-9c9b-cbd84e6c25ff",
      "name": "Marcar mensagens como lidas3",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $('Mensagem recebida').item.json.body.data.contextInfo.quotedMessage.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2256,
        13296
      ],
      "id": "0186574b-3280-4f37-9e12-2ec4cd369391",
      "name": "Pega Mensagem10"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o áudio para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        13008
      ],
      "id": "75b41b5b-0f11-4eab-a9c1-79052a63b0d9",
      "name": "Enviar texto41",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a mensagem para verificar se é uma fake news ou não.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        13296
      ],
      "id": "6c990b72-0698-4074-9361-0845f0113f5c",
      "name": "Enviar texto42",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a imagem para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        13616
      ],
      "id": "72591d81-afd6-4d3a-869f-4ee5fbcadb46",
      "name": "Enviar texto43",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o vídeo para verificar se é fake news. Isso pode levar de 10 segundos a 1 minuto.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        13856
      ],
      "id": "0d3dadb4-4b46-4e0a-9def-d5e4a6390d18",
      "name": "Enviar texto45",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=video.mp4",
        "options": {
          "mimeType": "video/mp4"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2256,
        13856
      ],
      "id": "9990a786-f76d-48ab-9815-72845d1d719b",
      "name": "Convert to File11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        13008
      ],
      "id": "fddd9bc9-45f2-4d5e-aefe-822f7527b966",
      "name": "HTTP Request25"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d872833f-0a92-402d-b8f6-0aef11777311",
              "name": "endpointAPI",
              "value": "https://ta-certo-isso-ai-767652480333.southamerica-east1.run.app",
              "type": "string"
            },
            {
              "id": "a2684c19-ecf8-4336-905d-385aee7c06eb",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "86d6cd66-4fbf-44c5-ac05-d3addccf7ae0",
              "name": "numeroQuemEnviou",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "73698167-d83a-4434-b384-895f85e418cd",
              "name": "nomeQuemEnviou",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "4a7a4195-0a75-49f5-9794-140e969b5cdd",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b45b3ee8-1da5-4420-837e-319744ce52f7",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "b8631fe4-6675-4c29-b5c0-85d12442beb1",
              "name": "stanzaId",
              "value": "={{ $json.body.data.contextInfo.stanzaId }}",
              "type": "string"
            },
            {
              "id": "c1b18a69-06bc-4f6c-bc49-32af19de6026",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c434eeaf-2f5e-4d3f-9db0-0e78205fdd12",
              "name": "chaveAPI",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4832,
        12080
      ],
      "id": "67c9e655-e02b-4df8-ad85-573e9273a717",
      "name": "Pegar dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        13616
      ],
      "id": "33cc4b5f-3d9d-4474-ba54-91efedfc355b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fake-news-bot-evolution-api.xviedg.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Pegar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Pegar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Pegar dados').item.json.stanzaId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        13856
      ],
      "id": "77c7b990-8559-4697-8205-33a0992327e7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "messages-upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5120,
        12080
      ],
      "id": "05608d99-aa1e-4a4f-83f3-6336d31b0453",
      "name": "Mensagem recebida",
      "webhookId": "10b70ed5-60f9-400b-8889-859e1cba95e3"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Você receberá um vídeo enviado pelo usuário. Sua tarefa é:\n\n- Analisar cuidadosamente todas as cenas do vídeo, frame a frame.\n- Descrever detalhadamente tudo o que aparece: pessoas, objetos, ações, ambiente, iluminação, cores, expressões, movimentos, mudanças de cena e qualquer elemento visual relevante.\n- Transcrever todo o áudio do vídeo, incluindo falas, ruídos, música, textos narrados e sons de fundo.\n- Escrever todos os textos que aparecerem na tela, como legendas, placas, banners, telas de computador, mensagens, símbolos ou números.\n- Indicar, sempre que possível, os momentos aproximados (timestamps) onde cada evento ocorre.\n- Caso ocorram várias cenas, descrevê-las em ordem cronológica.\n\nRetorne no seguinte formato:\n\nDescrição completa do vídeo:\n[sua descrição detalhada aqui]",
        "inputType": "binary",
        "binaryPropertyName": "video.mp4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1392,
        12432
      ],
      "id": "beecdb3c-4bd3-4b15-b554-b55e1078cf04",
      "name": "Analyze video2",
      "credentials": {
        "googlePalmApi": {
          "id": "SgK1zaj53sL9cHk6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.description); }},\n      \"type\": \"video\"\n    },\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.caption); }},\n      \"type\": \"text\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        12704
      ],
      "id": "d4f9a277-7de3-4b7a-9375-80e9813a0aa8",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -112,
        12704
      ],
      "id": "5499b164-abc4-4e45-97b1-2542d9b27348",
      "name": "Enviar texto35",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Dados do vídeo').item.json.description); }},\n      \"type\": \"video\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        12416
      ],
      "id": "2fbd9971-6c6e-4e3b-a434-f18ff50b8270",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -112,
        12416
      ],
      "id": "ca15126c-3867-4312-8852-ee51e04dcdd2",
      "name": "Enviar texto34",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Analyze image2').item.json.content); }},\n      \"type\": \"image\"\n    },\n    {\n      \"textContent\": {{ JSON.stringify($('Dados da imagem').item.json.caption); }},\n      \"type\": \"text\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        12144
      ],
      "id": "451f56eb-1322-4f4b-ad6c-e6811f765636",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -112,
        12144
      ],
      "id": "8cb2b3bc-e848-4ecf-a56c-cc6219da0158",
      "name": "Enviar texto32",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Pegar dados').item.json.endpointAPI }}/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": [\n    {\n      \"textContent\": {{ JSON.stringify($('Analyze image2').item.json.content); }},\n      \"type\": \"image\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        11856
      ],
      "id": "0bda37a7-140d-4655-bad5-d81826bfd13c",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -112,
        11856
      ],
      "id": "21768179-2376-4e81-84b7-e179629f212f",
      "name": "Enviar texto26",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você receberá uma imagem enviada pelo usuário, seu objetivo é transcrever a imagem enviada para o fact-checking de fake news seguindo as tarefas  adiantes:  TAREFA 1: Você deve transcrever todo o texto de uma imagem, focando não apenas no texto mas em como ele está visualmente disposto (letras grandes, pequenas, CAPS LOCK ,negrito, itálico, cores). Ex: A imagem tem um título “Político perdeu tudo” em negrito e CAPS LOCK com letras grandes. TAREFA 2: Foque em transcrever elementos visuais/não-textuais  da imagem de forma a explicitar pessoas, especialmente figuras famosas, históricas, importantes, políticos ou celebridades, caso essas figuras estejam presentes, apenas mencione o NOME delas, não qualquer status dela como sua posição, emprego, se está vivo ou não. Também busque descrever entidades humanas e não humanas centrais à imagem.\n\nNão dê tanto importância a detalhes cotidianos e comuns da paisagem, apenas em detalhes anormais que possam auxiliar no processo de fact-checking.\n\nExemplos de descrições detalhadas que ajudam no fact-checking de fake news:\n\n\"A imagem mostra o político Abraham Lincon numa pose constrangedora, sendo zombado por uma multidão\"\n\nExemplo de uma descrição que não ajuda no fact-checking:\n\n\"A imagem mostra um homem de terno e cabelo branco, numa festa, com convidados de smoking.\"\n\nRetornar no seguinte formato:\n\n\"Descrição da imagem: [sua descrição detalhada aqui]",
        "inputType": "base64",
        "binaryPropertyName": "imagem",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1392,
        11872
      ],
      "id": "3937cd21-8553-4b70-9d39-b8a9a682935e",
      "name": "Analyze image2",
      "credentials": {
        "openAiApi": {
          "id": "ImnF3PwGUmxxe5vb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar documentos, você pode enviar um texto, um áudio, uma imagem ou um vídeo para eu analisar.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3072,
        14096
      ],
      "id": "2260802c-82ce-46ab-84d8-d8e9569308a6",
      "name": "Enviar texto40",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b00bcaf3-ee02-4846-945f-9e8ace32b989",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
              "rightValue": "@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4560,
        12080
      ],
      "id": "ffca5ab6-d1a7-47bc-a8a1-e376088b8703",
      "name": "isOnChat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b76dd329-670b-4071-a1e2-2091936ba176",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        11872
      ],
      "id": "69cf4519-ea1e-43c7-a4d9-fa4a99f42b6f",
      "name": "imagem tem legenda"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b76dd329-670b-4071-a1e2-2091936ba176",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        12432
      ],
      "id": "6f3c16ec-f7ea-4278-baa1-0c4a7809bd6e",
      "name": "video tem legenda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ae3e2d8-4b9e-4819-9d65-cfd11def0842",
              "name": "caption",
              "value": "={{\n  $if(\n    $('Mensagem recebida').item.json.body.data.key.remoteJid.endsWith('@s.whatsapp.net'),\n    (\n      $('Mensagem recebida').item.json.body.data.message?.imageMessage?.caption \n      ?? \n      \"\"\n    ),\n    (\n      $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage?.imageMessage?.caption \n      ?? \n      \"\"\n    )\n  )\n}}",
              "type": "string"
            },
            {
              "id": "9df9dbfe-334a-4232-b88d-9fd2523614a9",
              "name": "description",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        11872
      ],
      "id": "ebe4bba8-f779-4c56-aeea-e5c1ea9e3ca1",
      "name": "Dados da imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8962be6f-3011-4f60-89a6-ab5171e862c7",
              "name": "description",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "8ae3e2d8-4b9e-4819-9d65-cfd11def0842",
              "name": "caption",
              "value": "={{\n  $if(\n    $('Mensagem recebida').item.json.body.data.key.remoteJid.endsWith('@s.whatsapp.net'),\n    (\n      $('Mensagem recebida').item.json.body.data.message?.videoMessage?.caption \n      ?? \n      \"\"\n    ),\n    (\n      $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage?.videoMessage?.caption \n      ?? \n      \"\"\n    )\n  )\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        12432
      ],
      "id": "698794b8-b3ac-4509-b4b5-ae56ebe1bfc7",
      "name": "Dados do vídeo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21fcb79b-e6fd-4db0-aa5e-86066a4096a2",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "5ea95191-0e78-432f-8134-ffbf2b2d6014",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.mentionedJid }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "75e66cf0-8418-433c-aba9-766d06e9e9bd",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.mentionedJid }}",
              "rightValue": "117558187450509@lid",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4352,
        12352
      ],
      "id": "4629be5c-7fa5-4ac2-ba0a-bb223b88dd13",
      "name": "isMentionOfTheBot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efd4d22b-f089-4dbd-8c09-1b8755f1b328",
              "leftValue": "={{ $('Mensagem recebida').item.json.body.data.contextInfo?.quotedMessage }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4144,
        12624
      ],
      "id": "69c496c0-a47a-43a6-8d21-e3ed74cb8842",
      "name": "isResponseToMessage"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Pegar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Pegar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Para eu verificar se uma mensagem é fake news, basta responder a ela e marcar meu @. Assim recebo a referência e faço a análise.",
        "options_message": {
          "quoted": {
            "messageQuoted": {
              "messageId": "={{ $('Pegar dados').item.json.idMensagem }}"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3696,
        12640
      ],
      "id": "c9d35f54-29b4-4a38-8d28-6b3a4c7ceeec",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "eqxlhesufSqRANlp",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe a recording2": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File6": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base65": {
      "main": [
        [
          {
            "node": "Convert to File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Enviar texto28",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto29",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto33",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Enviar audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File7": {
      "main": [
        [
          {
            "node": "Analyze image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas2": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem7": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto28": {
      "main": [
        [
          {
            "node": "Obter m dia em base65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto29": {
      "main": [
        [
          {
            "node": "Pega Mensagem7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto30": {
      "main": [
        [
          {
            "node": "Obter m dia em base5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Enviar texto19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Enviar texto36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base4": {
      "main": [
        [
          {
            "node": "Convert to File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto33": {
      "main": [
        [
          {
            "node": "Obter m dia em base4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File8": {
      "main": [
        [
          {
            "node": "Analyze video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto36": {
      "main": [
        [
          {
            "node": "Enviar texto37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto37": {
      "main": [
        [
          {
            "node": "Generate audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base5": {
      "main": [
        [
          {
            "node": "Convert to File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File9": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "Enviar texto41",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto42",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto43",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto43",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto45",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File10": {
      "main": [
        [
          {
            "node": "Analyze image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas3": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem10": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto41": {
      "main": [
        [
          {
            "node": "HTTP Request25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto42": {
      "main": [
        [
          {
            "node": "Pega Mensagem10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto43": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto45": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File11": {
      "main": [
        [
          {
            "node": "Analyze video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request25": {
      "main": [
        [
          {
            "node": "Convert to File9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar dados": {
      "main": [
        [
          {
            "node": "isOnChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Pegar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video2": {
      "main": [
        [
          {
            "node": "Dados do vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Enviar texto35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Enviar texto34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Enviar texto32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Enviar texto26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image2": {
      "main": [
        [
          {
            "node": "Dados da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isOnChat": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isMentionOfTheBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagem tem legenda": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video tem legenda": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da imagem": {
      "main": [
        [
          {
            "node": "imagem tem legenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do vídeo": {
      "main": [
        [
          {
            "node": "video tem legenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isMentionOfTheBot": {
      "main": [
        [
          {
            "node": "isResponseToMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isResponseToMessage": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cd6a87a-9316-4c05-9212-7882fc48e7e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66003f19454addf7e955bb54c53f18bcbbdbda71fc5e07836f0a61d5116098f0"
  },
  "id": "mVjpjMQoUzYN2dvL",
  "tags": []
}